<div class="page-header">
  <h1>
    Conference Agenda
  </h1>
</div>

<div class="row padding-inside-top-sm">
  <div class="col-md-12">
    <h4> 9:00-10:00 Registration and Breakfast </h4>
  </div>
</div>

<div class="row padding-inside-top-sm">
  <div class="col-md-12">
    <h4> 10:00-10:15 Opening Remarks </h4>
  </div>
</div>

<div class="row padding-inside-top-sm">
  <div class="col-md-12">
    <h4> 10:15-10:45 Message from the Founder </h4>
    <p>In honor of the 30th anniversary, we would like to pay tribute to the conference by sharing the story of the conference’s genesis and taking a look at how the conference has evolved over time.</p>
  </div>
</div>

<div class="row padding-inside-top-sm">
  <div class="col-md-12">
    <h4> 10:45-11:30 Opening Keynote: The Original Blueprint </h4>
    <p>Channing Dungey will reflect on how the business world has changed over the past 30 years, and share her blueprint for steps to rise to the top in any field.</p>
  </div>
</div>

<div class="row padding-inside-top-sm">
  <div class="col-md-12">
    <h4> 11:30-11:45 Break </h4>
  </div>
</div>

<div class="row padding-inside-top-sm">
  <div class="col-md-12">
    <h4> 11:45-1:00 Executive Roundtable: Building Identity Through Media </h4>
    <p>Executive-level round table discussion on the roles that minorities have taken in-front of and behind the camera in the media and entertainment industry.</p>
  </div>
</div>

<div class="row padding-inside-top-sm">
  <div class="col-md-12">
    <h4> 1:00-2:00 Lunch </h4>
  </div>
</div>

<div class="row padding-inside-top-sm">
  <div class="col-md-12">
        <h4>2:00-2:45 Breakout Sessions A</h4>
  </div>
</div>


<div class="row padding-inside-top-sm">
  <div class="col-md-12">
    <h4> 2:45-3:00 Break </h4>
  </div>
</div>

<div class="row padding-inside-top-sm">
  <div class="col-md-12">
        <h4>3:00-3:45 Breakout Sessions B</h4>
  </div>
</div>

<div class="row padding-inside-top-sm">
  <div class="col-md-12">
    <h4> 3:45-4:00 Break </h4>
  </div>
</div>

<div class="row padding-inside-top-sm">
  <div class="col-md-12">
    <h4> 4:00-4:45 Closing Keynote: Building Our Tomorrow </h4>
    <p>Stewart Butterfield will share his vision for of what the more-inclusive business world of the future will look like, and how organizations can move past talking about diversity and inclusion efforts to actualizing them.</p>
  </div>
</div>

<div class="row padding-inside-top-sm">
  <div class="col-md-12">
    <h4> 4:45-5:00 Closing Remarks  </h4>
  </div>
</div>
